body{
    margin: 0;
}

#head{
    background-image: url("cover.jpg");
    width: 1440px;
    height: 924px;
    margin: 0;
}


.head_nav_row{
    width: 1322px;
    height: 104px;
    
    margin: 0 auto;
    padding-left: 136px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
}

.header_content{
    width: 1046px;
    height: 788px;
    margin: 100px auto;
}

.heade_nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head_logo_link{
    margin-right: 114px;

    display: block;
}

.header_h1{
    margin:0;
}