@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;  /* bold */
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr73w5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



  
:root {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: .2px;
    color: #737373;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#head {
    background: #FAFAFA;
    padding-bottom: 131px;
}

.head__content {
    /* background-image: url("cover.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    
    
    background: url("img/cover.png") center center no-repeat ;
    
    background-size: cover;
    
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    
    margin: 0;
}


.head__nav_row {
    
    flex: 0 0 104px;
    width: 100%;
    max-width: 1322px; 
    
    margin: 0 auto;
    padding-left: 136px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
}

.header__content{
    width: 100%;
    max-width: 1045px;
     
    margin: 100px auto;
}

.head__nav{
    display: flex;
   
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}

/* 0, 1, 1 */
.head__nav li{
    flex-grow: 0;
    flex-basis: auto;
    margin-left: 20px;
}

/* 0,2,1 */
.head__nav li:first-child{
    margin-left:0px;
}

/* .head_nav li:not(:last-child){
    margin-right: 20px;
} */

/* .head_nav li:not(:first-child){
    margin-left:20px;
} */

/* .head_nav li+li{
    margin-left:20px;
} */



.head_nav__row nav {
    flex-grow: 1;
    flex-basis: auto;
}

.head__logo_link{
    flex-grow: 0;
    flex-basis: auto ;

    margin-right: 114px;

    display: block;
}



.header__links{
    width: 100%;
    max-width: 1045px;
     
    margin: 62px auto 0 ;

    display: flex;

    transform: translateY(36px);
}

.header__title{
    margin: 0 0 35px;

    font-weight: 800;
    font-size: 4.14rem;
    line-height: 1.3793;

    color: #252B42;

    box-sizing: border-box;
    width: 100%;
    max-width: 509px;
}

.header__desription{
    margin: 0 0 35px;
    font-size: 1.43rem;
    line-height: 1.5;

    box-sizing: border-box;
    width: 100%;
    max-width: 376px;
}

.header__actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__action{
    display: block;
    box-sizing: border-box;

    text-decoration: none;
    color: #00A0C1;

    padding: 10px 36px;

    border: 1px solid currentColor;
    border-radius: 37px;
}

.header__action:not(:last-child){
    margin-right: 10px;
}

.header__action:hover,
.header__action:focus{
    color: #053a45;
    outline: none;
}

.header__action--main{
    background-color: #FFA62B;
    color: #fff;
}

.header__link{
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    text-decoration: none;

    color: #737373;

    box-sizing: border-box;
    padding: 35px 40px 35px;
}

.header__link-icon-wrapper{
   margin-bottom: 10px;
}

.header__link-icon{
    width: 48px;
    height: 48px;
    fill:#00A0C1

}

.header__link:hover,
.header__link:focus{
    background: #00A0C1;
    outline: none;

}

.header__link:not(:last-child){
    margin-right: 30px;
}

.header__link-title{
    color: #252B42;
    
    font-size: 1.7142rem;
    line-height: 1.3333;
    font-weight: 700;

    margin: 0 0 10px;
}

.header__link:hover .header__link-title,
.header__link:focus .header__link-title,
.header__link:hover .header__link-description,
.header__link:focus .header__link-description{
    color: #fff;
}

.header__link--last{
    background-color:#00A0C1;
}

.header__link:hover .header__link-icon,
.header__link:focus .header__link-icon{
    fill: #fff;
}


.header__link-title--last,
.header__link-description--last{
    color: #fff;
}

.header__link-icon--last{
    fill: #fff;
}


.section {
    margin-top: -20px;
    background: #FAFAFA;

    display: flex;
    justify-content: center;
}

.section__wrapper {
    width: 100%;
    max-width: 1050px;
    padding: 80px 0;

    box-sizing: border-box;
}

.section__title {
    font-weight: 700;
    font-size: 2.8571rem;
    line-height: 1.42;
    
    text-align: center;

    color: #252B42;
    margin: 0 0 0 10px;
    
}

.section__title--advices {
    margin-top: 45px;
}

.section__title--advices .section__description {
    margin-bottom: 45px;
}

.section__description {
    max-width: 48.666%;
    text-align: center;
   
    margin: 0 auto 50px;
   
    font-weight: 500;
    
}

.section__row { 
    display: flex;
    gap: 30px;

}

.section__item { 
    flex: 1 0 0;
}

.benefit{
    display: flex;
    flex-flow: column;
    
    align-items: center;
    padding: 30px;
    background-color: #FFFFFF;

    box-sizing: border-box;
}

.benefit__icon {
    width: 48px;
    fill: #00A0C1;
}

.benefit__count {
    display: block;

    font-weight: 700;
    font-size: 2.8571rem;
    line-height: 2.85rem;

    color: #252B42;
    margin-top: 10px;
}

.benefit__title {
    display: block;

    font-weight: 700;
    font-size: 1.1428rem;
    line-height: 1.2rem;

    margin-top: 10px;
    
}

.card { 
    background: #fff;
    display: flex;
    flex-direction: column;
}

.card__title { 
    margin: 30px 30px 15px;

    font-weight: 700;
    font-size: 1.1428rem;
    line-height: 1.2rem;

    color: #252B42;
}

.card__description {
    
    margin: 0 30px 30px;
    font-weight: 500;
    color: #737373;
}

.card__img-wrapper {
    margin-top: auto;

    display: block;
    width: 100%;
    height: 0;
    padding-top: 59.74%;

    position: relative;

    box-sizing: content-box;

    background: red;
}

.card__image { 
    position: absolute;
    
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    display: block;
    width: 100%;

    object-fit:cover;
    object-position: center center ;
}


.service {
    display: grid;
    
    max-width: 1053px;

    grid-template-columns: 600fr 453fr ;
    grid-template-areas: 
    "header header"
    "player description";
}

.service__header {
    grid-area: header;

    padding: 20px 0 100px;

   
    box-sizing: border-box;
}

.service__title {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 15px;

    box-sizing: border-box;

    font-weight: 700;
    font-size: 2.8571rem;
    line-height: 2.85rem;

    letter-spacing: 0.2px;
    text-align: center;

    color: #252B42;
}

.service__subtitle {
    width: 100%;
    max-width: 511px;

    font-weight: 500;
    text-align: center;

    margin: 0 auto ;
    box-sizing: border-box;
}

.service__player {
    grid-area: player;
}

.service__player-wrapper {
    position: relative;

    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;

    box-sizing: border-box;

}

.service__player-frame {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

.service__description {
    grid-area: description;
    padding-left: 120px;
    
    box-sizing: border-box;
}

.service__description-title {
    margin: 20px 0 10px;

    font-weight: 700;
    font-size: 2.8571rem;
    line-height: 1.42;

    color: #252B42;

    box-sizing: border-box;
}

.service__descr {
    margin-bottom: 20px;
    font-weight: 500;
    box-sizing: border-box;
}

.descrition__trust-reasons {
    margin: 0;
    padding: 0;
    list-style: none;

    
}

.service__reason {
    margin-top: 30px;
    
        display: grid;
    grid-template-columns: 32px 1fr;
    column-gap: 20px;
    grid-template-areas: 
    "icon title"
    "none subtitle";
}

.service__reason-icon-wrapper {
    grid-area: icon;
}


.service__reason-icon {
    fill:#FFA62B;
}
    

.service__reason-title {
    grid-area: title;

    max-width: 286px;

    font-weight: 700;
    font-size: 1.1428rem;
    line-height: 1.2rem;

    box-sizing: border-box;

    letter-spacing: 0.1px;

    color: #252B42;
}

.service__reason-subtitle {
    grid-area: subtitle;

    font-weight: 600;
}


