#flag-animation {
    width: 280px;
    height: 280px;
 
    clip-path: polygon(5% 64%, 43% 61%, 69% 66%, 79% 74%, 84% 69%, 81% 63%, 80% 57%, 76% 36%, 64% 34%, 42% 31%, 25% 28%, 16% 20%, 3% 20%, 9% 100%, 15% 100%, 16% 65%, 23% 61%);

    animation: clip 5s infinite;
}

@keyframes clip {
    25% {
        clip-path: polygon(5% 64%, 40% 59%, 59% 64%, 73% 68%, 85% 66%, 78% 60%, 77% 51%, 67% 38%, 51% 42%, 40% 35%, 24% 29%, 16% 20%, 3% 20%, 9% 100%, 15% 100%, 16% 65%, 24% 61%);
    } 
    
    
    50% {
        clip-path: polygon(5% 64%, 47% 55%, 58% 64%, 70% 67%, 84% 65%, 76% 60%, 79% 49%, 69% 42%, 49% 37%, 35% 39%, 27% 29%, 16% 20%, 3% 20%, 9% 100%, 15% 100%, 19% 64%, 24% 61%);
    }

    100% {
        clip-path: polygon(5% 64%, 40% 57%, 52% 64%, 65% 65%, 81% 72%, 82% 63%, 81% 54%, 75% 42%, 56% 40%, 41% 38%, 25% 29%, 16% 20%, 3% 20%, 9% 100%, 15% 100%, 19% 64%, 28% 59%);
    }
}